.hilfe {
	padding: 0 15%;
	font-family: sans-serif;
}

.hilfe-element h2 {
	letter-spacing: 4px;
	vertical-align: middle;
}

.inhalt {
	color: black;
	background-color: white;
	padding: 12px;
	border-radius: 8px;
}

button, h2 {
	display: inline-block;
}

button {
	background-color: white;
	outline: 0;
	border: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}
