/*Schriftart definieren*/
@font-face {
    font-family: 'Bit5x3';
    src: url('Bit5x3.woff2') format('woff2'),
        url('Bit5x3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Richtlinien komplettes Dokument - Body ist mit Hintergrund*/
html, body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: 'Bit5x3';
	text-align: center;
	font-weight: normal;
  font-style: normal;
}

/*Links in Icons weiss*/
a[href] {
	color: white;
  outline: 0;
}

a {
  cursor: pointer;
}

/*Home Icon oben links*/
.home {
  float: left;
  margin-left: 12px;
}

/*Icongroesse*/
.home img{
	height: 36px;
}

/*Sound oben rechts anzeigen*/
.right {
  float: right;
  margin-right: 12px;
}

/*Icongroesse*/
.right img{
	height: 36px;
}

header {
	z-index: 2;
	position: relative;
}

/*PONG*/
h1 {
	text-align: center;
	font-family: 'Bit5x3';
	letter-spacing: 20px;
	padding-left: 20px;
	font-size: 64px;
}


footer {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: x-small;
}
