@font-face {
	font-family: 'Bit5x3';
	src: 'bit5x3.ttf';
}

html, body {
	margin: 0;
	background-color: black;
	text-align: center;
	font-family: 'Bit5x3';
}

h1, li {
	color: white;
}

h1 {
	font-size: 48px;
	letter-spacing: 15vw;
	padding-left: 15vw;
	margin: 10vh 0;
}

a[href] {
	text-decoration: none;
}

a.btn {
	color: black;
	background-color: white;
	text-align: center;
	text-decoration: none;
	padding: 8px 64px;
	transition: padding 0.5s;
}

a.btn:hover {
	padding: 8px 128px;
}

a.btn:hover::before {
	content: '> '
}

a.btn:hover::after {
	content: ' <'
}

ul {
	margin-top: 10vh;
	display: flex;
  justify-content: center;
}

li {
	list-style-type: none; /* Punkt weg */
	margin: 0 24px;
}

li a {
	border: 1px solid white;
	border-radius: 50%;
	color: white;
	padding: 8px;
	width: 80px;
	height: 80px;
	display: flex;
  align-items: center;
  justify-content: center;
	transition: all 0.5s;
}

li:nth-child(1) a:hover {
	/* background-color: white;
	color: black; */
	box-shadow: -10px 10px 0px white;
}

li:nth-child(2) a:hover {
	/* background-color: white;
	color: black; */
	box-shadow: 0 10px 0px white;
}

li:nth-child(3) a:hover {
	/* background-color: white;
	color: black; */
	box-shadow: 10px 10px 0px white;
}
